#map{
	float: right;
  	padding-top: 6px;
  	color: #848383;
}

#map figure {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-bottom: 42px;
}
.img_inner {
  max-width: 100%;
  padding: 7px;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e4e4;
  margin-bottom: 19px;
  box-shadow: 2px 2px 4px #ddd;
}