#background2{
	margin-top: -300px;
}

#bodyNews{
	background: url(../images/bg-content.png) repeat-y left top;
}

#bodyNews ul {
  list-style: none;
  border-bottom: 1px solid #fbebbf;
  margin: 0;
  padding: 0;
}

#bodyNews ul li {
  display: inline-block;
  width: 661px;
  border-top: 1px solid #fbebbf;
  padding: 24px 30px;
}

#bodyNews ul li span.time {
  float: right;
  color: #aea588;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}

#bodyNews h2 {
  color: #fa8f0d;
  display: inline-block;
  font: 25px/25px 'NobileBoldItalic';
  margin: 0;
  text-shadow: 1px 1px #fff9eb;
}

#bodyNews ul li > div {
  margin-left: 250px;
  margin-top: -160px;
}

#bodyNews p {
  color: #aea588;
  font: bold italic 15px/24px 'Nobile';
  margin: 0;
  padding-bottom: 24px;
  text-shadow: 1px 1px #fff9eb;
}

.more {
  color: #f9a842;
  font: 16px/24px 'NobileBoldItalic';
  text-decoration: none;
}

#bodyNews div.pages {
  padding-right: 20px;
  padding-top: 24px;
  text-align: right;
}

#bodyNews div.pages a {
  color: #aea588;
  display: inline-block;
  font-size: 14px;
  font-style: italic;
  margin: 0 5px;
}

#nen{
	background: url(../images/bg-content-bottom.png) no-repeat left bottom;
  	padding-bottom: 17px;
}